In [2]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords as sw
from nltk.tokenize import word_tokenize
import string

In [3]:
dfamzrev = pd.read_csv('E:/KrishM/PythonPrjs/PyDatasets/Reviews/amazonlabelled.txt', delimiter='\t', header=None)

In [4]:
dfzmzcols = ['Review_Text', 'Review_Class']

In [5]:
dfimdrev = pd.read_csv('E:/KrishM/PythonPrjs/PyDatasets/Reviews/imdblabelled.txt', delimiter='\t', header=None)

In [6]:
dfimdcols = ['Review_Text', 'Review_Class']

In [7]:
dfyelrev = pd.read_csv('E:/KrishM/PythonPrjs/PyDatasets/Reviews/yelplabelled.txt', delimiter='\t', header=None)

In [8]:
dfyelcols = ['Review_Text', 'Review_Class']

In [9]:
dfreview = pd.concat([dfamzrev, dfimdrev, dfyelrev], ignore_index=True)

In [10]:
dfreview.columns = dfimdcols

In [11]:
dfreview

                                            Review_Text  Review_Class
0     So there is no way for me to plug it in here i...             0
1                           Good case, Excellent value.             1
2                                Great for the jawbone.             1
3     Tied to charger for conversations lasting more...             0
4                                     The mic is great.             1
...                                                 ...           ...
2743  I think food should have flavor and texture an...             0
2744                           Appetite instantly gone.             0
2745  Overall I was not impressed and would not go b...             0
2746  The whole experience was underwhelming, and I ...             0
2747  Then, as if I hadn't wasted enough of my life ...             0

[2748 rows x 2 columns]